body{
  background-color: rgb(27, 124, 235);
}

.calculator{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
  max-width: 70vh;
  font-size: 2rem;
  border: 2px solid black;
  background-color: #d2d3e6;
  margin: 0;
}

.calc-buttons-opp{
  cursor: pointer;
  font-size: 2rem;

}

.calc-result-opps{
  cursor: pointer;
  font-size: 2rem;
}

h2{
  text-align: center;
  background: linear-gradient(rgb(125, 211, 240), #7079dd);
  padding: 15px;
  border-radius: 25px;
  border: 1px solid black;
}

button{
  background: lightgray;
  font-size: 2rem;
  padding: 2px;
}

number{
  font-size: 2rem;
}

@media only screen and (max-width:768px){
  .calulator{
    min-width: 100vh;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    margin: 0;
  }

  .button{
    font-size: 1em;
  }

  h2{
    padding: 5px;
  }

  number{
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .calculator{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1rem;
    margin: 0;
  }

  h2{
    padding: 0px;
  }

  .button{
    font-size: 1em;
  }

  number{
    font-size: 1em;
  }
}